<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Photo Studio...</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2 text-primary text-bold" href="/">ASTUDIO</a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary me-3">
                        Sign up for free
                    </button>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    {{!-- Slider 1321 x 581 --}}
    <div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-inner">
            {{#each images}}
            <div class="carousel-item active">
                <img src="../uploads/{{image}}" class="d-block w-100"
                    alt="Wild Landscape" />
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {{!-- Slider --}}

    {{!-- Cards --}}
    <div id="portfolio" class="container-fluid mt-3">
        <h2>Portfolio</h2>

        <!--Grid row-->
        <div class="row">
            {{#each images}}
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="../uploads/{{image}}"
                    class="img-fluid rounded-4 shadow-2-strong" alt="Hollywood Sign on The Hill" />
            </div>
            {{/each}}
        <div class="text-center mt-3">
            <a href="#" class="mt-2 d-block bg-danger p-2 text-white border-2 rounded-pill">
                Book now
            </a>
        </div>
    </div>
    {{!-- Cards --}}

    {{!-- Pricing --}}
    <section class="container mb-5 mb-lg-10 mt-5 border border-light">

        <h3 class="fw-bold text-center mb-5">Pricing</h3>

        <div class="row gx-xl-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

                <div class="card">
                    <div class="card-header text-center pt-4">
                        <p class="text-uppercase">
                            <strong>Bronze Plan</strong>
                        </p>

                        <h3 class="mb-4">
                            <strong>20000 Rs.</strong>
                        </h3>

                        <a href="#" type="button" class="btn btn-secondary btn-rounded w-100 mb-3">
                            Book now
                        </a>

                    </div>
                    <div class="card-body">

                        <ol class="list-unstyled mb-0">
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Unlimited
                                updates
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Git repository
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>npm
                                installation
                            </li>
                        </ol>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                <div class="card">
                    <div class="card-header text-center pt-4">
                        <p class="text-uppercase">
                            <strong>Silver Plan</strong>
                        </p>

                        <h3 class="mb-4">
                            <strong>30000 Rs.</strong>
                        </h3>

                        <a href="#" type="button" class="btn btn-primary btn-rounded w-100 mb-3">
                            Book Now
                        </a>
                    </div>
                    <div class="card-body">
                        <ol class="list-unstyled mb-0">
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Unlimited
                                updates
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Git repository
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>npm
                                installation
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Code examples
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Premium
                                snippets
                            </li>
                        </ol>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                <div class="card">
                    <div class="card-header text-center pt-4">
                        <p class="text-uppercase">
                            <strong>Gold plan</strong>
                        </p>
                        <h3 class="mb-4">
                            <strong>50000 Rs.</strong>
                        </h3>

                        <a href="#" type="button" class="btn btn-secondary btn-rounded w-100 mb-3">
                            Book now
                        </a>
                    </div>
                    <div class="card-body">
                        <ol class="list-unstyled mb-0">
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Unlimited
                                updates
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Git repository
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>npm
                                installation
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Code examples
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Premium
                                snippets
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Premium
                                support
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check text-success me-3"></i>Drag&amp;Drop
                                builder
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </section>
    {{!-- Pricing --}}

{{!-- Login-register --}}
    <section class="text-center mt-3 border col-md-6 p-4 rounded m-auto" style="background-color: #ecebeb;">
        <h2 class="text-dark mb-1">Login/Registeration</h2>
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                    aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                    aria-controls="pills-register" aria-selected="false">Register</a>
            </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form>
                                        <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="loginName" class="form-control" />
                        <label class="form-label" for="loginName">Email or username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" />
                        <label class="form-label" for="loginPassword">Password</label>
                    </div>

                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-3 mb-md-0">
                                <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form>
                   
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerName" class="form-control" />
                        <label class="form-label" for="registerName">Name</label>
                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" />
                        <label class="form-label" for="registerUsername">Username</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" />
                        <label class="form-label" for="registerEmail">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Password</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control" />
                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                            aria-describedby="registerCheckHelpText" />
                        <label class="form-check-label" for="registerCheck">
                            I have read and agree to the terms
                        </label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
                </form>
            </div>
        </div>
        <!-- Pills content -->
    </section>
    {{!-- login-register --}}


{{!-- Footer --}}
<footer class="mt-3">
  <div class="text-center text-primary p-3 bg-dark">
    © 2023 Copyright:
    <a class="text-white" href="/">ASTUDIO</a>
  </div>
</footer>
  {{!-- footer --}}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>