<section class="container mt-5 col-md-6">
    <form action="/admin/add-photos" method="post" enctype='multipart/form-data'>
        <div class="form-outline mb-4">
            <input type="file" name="file_image" id="profile_image">
            <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
        </div>
    </form>
</section>